body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(to top, #4c5c74, #4b6c83, #4a7c90, #4b8c98, #549c9d, #5ba4a0, #64aca2, #6eb4a3, #70b7a6, #72bba9, #74beac, #76c2af); */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bg-color {
    background-image: linear-gradient(to top, #4c5c74, #4b6c83, #4a7c90, #4b8c98, #549c9d, #5ba4a0, #64aca2, #6eb4a3, #70b7a6, #72bba9, #74beac, #76c2af);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
