.text-center {
    text-align: center;
}

/* FONT FACES */
@font-face {
    font-family: title;
    src: url("../fonts/04B_30__.TTF");
    font-style: normal;
    font-weight: 100;
    font-size: xx-large;
}
@font-face {
    font-family: paragragh;
    src: url("../fonts/Diner.otf");
    font-style: normal;
    font-weight: 100;
    font-size: larger;
}
@font-face {
    font-family: paragragh-bold;
    src: url("../fonts/Diner\ Bold.otf");
    font-style: normal;
    font-weight: 100;
    font-size: x-large;
}
@font-face {
    font-family: logo;
    src: url("../fonts/Adventure.ttf");
    font-style: normal;
    font-weight: 100;
    font-size: xx-large;
}

/* FONT CLASSES */
.font-title {
    font-family: title;
    font-size: xx-large;
    -webkit-text-stroke: 1px black;
    font-weight: 100;
    color: #4F5D73;
    text-shadow: 4px 4px #6BB09F;
}
.font-title-white-stroke {
    font-family: title;
    font-size: xx-large;
    -webkit-text-stroke: 1px black;
    font-weight: 100;
    color: white;
    text-shadow: 4px 4px #6BB09F;
}
.font-title-white {
    font-family: title;
    font-size: xx-large;
    font-weight: 100;
    color: white;
    text-shadow: 2px 2px #6BB09F;
}
.font-subtitle {
    font-family: title;
    font-size: x-large;
    font-weight: 100;
    -webkit-text-stroke: 1px black;
    color: #4F5D73;
    text-shadow: 4px 4px #6BB09F;
}
.font-subtitle-grey {
    font-family: title;
    -webkit-text-stroke: 1px black;
    font-size: x-large;
    font-weight: 100;
    color: white;
    text-shadow: 1px 1px #6BB09F;
}
.font-paragragh {
    font-weight: 100;
    font-family: paragragh;
}
.font-paragragh-grey {
    -webkit-text-stroke: 1px black;
    font-weight: 100;
    font-family: paragragh;
    color: white;
}
.font-paragragh-small {
    font-weight: 10;
    font-family: paragragh;
    font-size: smaller;
}
.font-paragragh-bold {
    font-family: paragragh-bold;
    font-size: large;
}
.font-logo {
    font-family: logo;
    font-size: xx-large;
    font-weight: 100;
    color: #76C2AF;
    text-shadow: 2px 2px black;
}
.font-logo-large {
    font-family: logo;
    font-size: 43px;
    font-weight: 100;
    color: #76C2AF;
    text-shadow: 2px 2px black;
}
.font-logo-large-dark {
    font-family: logo;
    font-size: 43px;
    font-weight: 100;
    color: #4F5D73;
    text-shadow: 2px 2px black;
}
.font-navbar-white {
    font-family: paragragh !important;
    font-size: larger;
    font-weight: 100;
    color: white;
    text-align: right;
    text-shadow: 1px 1px black;
}
.navbar-shadow {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
}
.cover-shadow {
    z-index: 2;
    /* box-sizing: border-box; */
    border: 1px solid black;
    height: 42vh !important;
    transform: scale(1.1);
    border-radius: 7px;
    box-shadow: 0 0 25px 5px rgba(0,0,0,0.73);

}

/* COLOURS */
.white {
    color: white;
}
.yellow {
    color: yellow !important;
}

/* BACKGROUND COLOURS */
.bg-light {
    background-color: #76C2AF !important;
}
.bg-dark {
    background-color: #4F5D73 !important;
}
.bg-form {
    background-color: #6BB09F !important;
}

/* BORDERS */
.border-rounded {
    border-radius: 5px;
}
.border-rounded-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.border-rounded-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* STYLING */
.inline {
    display: inline;
}
.padding-sides {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-vertical {
    padding-bottom: 25px;
    padding-top: 25px;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.vertical-line {
    border-left: 2px solid white;
    height: 4vh;
    border-radius: 25px;
}
.login-modal {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    width: 100%;
    text-align: center;
    background-color: #E0E0D1;
    border-radius: 5px;
    background: #E0E0D1;
    box-shadow: 0 0 15px 5px #202020;
}

.login-modal-child {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

}
.login-modal-child-form {
    padding: 70px 15px;
}
.box {
    width: 200px;
    height: 200px;
    background: #eee;
    border: 1px solid #333;
    float: left;
    margin-right: 10px;
}
.btn-group {
    display: block;
    /* Make the buttons appear below each other */
}

.log-btn {
    padding: 10px 24px;
    /* Some padding */
    width: 15vh;
    /* Set a width if needed */
    height: 10vh;
    display: block;

}

.review-modal {
    background-image: radial-gradient(circle, #5f8d8c, #548189, #4e7585, #4c697e, #4c5c74);
        padding: 50px;
    border-radius: 7px;
    box-shadow: 0 0 15px 5px #202020;
    text-align: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.review-modal-cover {
    /* box-sizing: border-box; */
    border: 1px solid black;
    height: 35vh !important;
    /* border-radius: 7px; */
    box-shadow: 0 0 25px 5px rgba(0,0,0,0.73);
}
.review-modal-info {
    padding-right: 30px;
}
