.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* FONT FACES */
@font-face {
    font-family: title;
    src: url("../fonts/04B_30__.TTF");
    font-style: normal;
    font-weight: 100;
    font-size: xx-large;
}
@font-face {
    font-family: paragragh;
    src: url("../fonts/Diner.otf");
    font-style: normal;
    font-weight: 100;
    font-size: larger;
}
@font-face {
    font-family: paragragh-bold;
    src: url("../fonts/Diner\ Bold.otf");
    font-style: normal;
    font-weight: 100;
    font-size: x-large;
}
@font-face {
    font-family: logo;
    src: url("../fonts/Adventure.ttf");
    font-style: normal;
    font-weight: 100;
    font-size: xx-large;
}
@font-face {
    font-family: atarian;
    src: url("../fonts/SF\ Atarian\ System.ttf");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: eightBitWonder;
    src: url("../fonts/eightBitWonder.TTF");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: zorque;
    src: url("../fonts/zorque.ttf");
    font-style: normal;
    font-weight: 100;
}

/* FONT CLASSES */
.font-atarian {
    font-family: atarian;
    font-weight: 100;
}
.font-zorque {
    font-family: zorque;
    font-weight: 100;
}
.font-title {
    font-family: title;
    font-size: xx-large;
    -webkit-text-stroke: 1px black;
    font-weight: 100;
    color: #4F5D73;
    text-shadow: 4px 4px #6BB09F;
}
.font-title-white-stroke {
    font-family: title;
    font-size: xx-large;
    -webkit-text-stroke: 1px black;
    font-weight: 100;
    color: white;
    text-shadow: 4px 4px #6BB09F;
}
.font-title-white {
    font-family: title;
    font-size: xx-large;
    font-weight: 100;
    color: white;
    text-shadow: 2px 2px #6BB09F;
}
.font-subtitle {
    font-family: title;
    font-size: x-large;
    font-weight: 100;
    -webkit-text-stroke: 1px black;
    color: #4F5D73;
    text-shadow: 4px 4px #6BB09F;
}
.font-subtitle-grey {
    font-family: title;
    -webkit-text-stroke: 1px black;
    font-size: x-large;
    font-weight: 100;
    color: white;
    text-shadow: 1px 1px #6BB09F;
}
.font-paragragh {
    font-weight: 100;
    font-family: paragragh;
}
.font-paragragh-grey {
    -webkit-text-stroke: 1px black;
    font-weight: 100;
    font-family: paragragh;
    color: white;
}
.font-paragragh-small {
    font-weight: 10;
    font-family: paragragh;
    font-size: 11px !important;
    line-height: 1 !important;
}
.font-paragragh-bold {
    font-family: paragragh-bold;
    font-size: large;
}
.font-logo {
    font-family: logo;
    font-size: xx-large;
    font-weight: 100;
    color: #76C2AF;
    text-shadow: 2px 2px black;
}
.font-logo-large {
    font-family: logo;
    font-size: 43px;
    font-weight: 100;
    color: #76C2AF;
    text-shadow: 2px 2px black;
}
.font-logo-large-dark {
    font-family: logo;
    font-size: 43px;
    font-weight: 100;
    color: #4F5D73;
    text-shadow: 2px 2px black;
}
.font-navbar-white {
    font-family: paragragh !important;
    font-size: larger !important;
    font-weight: 100;
    color: white;
    /* text-align: right; */
    text-shadow: 1px 1px black;
}

.font-8bit {
  font-family: eightBitWonder;
  font-size: 35px;
  font-weight: 100;
  text-shadow: 2px 2px black;
}

.navbar-shadow {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
}
.cover-shadow {
    z-index: 2;
    /* box-sizing: border-box; */
    border: 1px solid black;
    height: 42vh !important;
    transform: scale(1.1);
    border-radius: 7px;
    box-shadow: 0 0 25px 5px rgba(0,0,0,0.73);
}
.avg-rating {
  transform: translate(-10%, -30%);
  z-index: 2;
}
.avg-rating-header {
    /* transform: scale(1.1); */
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
    border: 2px solid yellow;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle !important;
    border-radius: 50%;
}
.game-page-border {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
  border: 2px solid yellow;
}
.game-card-cover {
    transform: translate(23%, -15%);
    z-index: 2;
  }
/* COLOURS */
.white {
    color: white !important;
}
.yellow {
    color: yellow !important;
}

/* BACKGROUND COLOURS */
.bg-light {
    background-color: #76C2AF !important;
}
.bg-dark {
    background-color: #4F5D73 !important;
}
.bg-form {
    background-color: #6BB09F !important;
}
.bg-review-page {
    background-image: radial-gradient(circle, #5f8d8c, #548189, #4e7585, #4c697e, #4c5c74);
}
/* BORDERS */
.border-rounded {
    border-radius: 5px;
}
.border-rounded-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.border-rounded-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* STYLING */
.inline {
    display: inline;
}
.padding-sides {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-vertical {
    padding-bottom: 25px;
    padding-top: 25px;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.vertical-line {
    border-left: 2px solid white;
    height: 4vh;
    border-radius: 25px;
}
.login-modal {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    width: 100%;
    text-align: center;
    background-color: #E0E0D1;
    border-radius: 5px;
    background: #E0E0D1;
    box-shadow: 0 0 15px 5px #202020;
}

.login-modal-child {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

}
.login-modal-child-form {
    padding: 70px 15px;
}
.box {
    width: 200px;
    height: 200px;
    background: #eee;
    border: 1px solid #333;
    float: left;
    margin-right: 10px;
}
.btn-group {
    display: block;
    /* Make the buttons appear below each other */
}

.log-btn {
    padding: 10px 24px;
    /* Some padding */
    width: 15vh;
    /* Set a width if needed */
    height: 10vh;
    display: block;

}

.review-modal {
    background-image: radial-gradient(circle, #5f8d8c, #548189, #4e7585, #4c697e, #4c5c74);
    padding: 50px;
    border-radius: 7px;
    box-shadow: 0 0 15px 5px #202020;
    text-align: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.review-modal-cover {
    /* box-sizing: border-box; */
    border: 1px solid black;
    height: 35vh !important;
    /* border-radius: 7px; */
    box-shadow: 0 0 25px 5px rgba(0,0,0,0.73);
}
.review-modal-info {
    padding-right: 30px;
}
.carousel {
    box-shadow: 0 0 25px 5px rgba(0,0,0,0.73);
    border: 2px solid #343a40;
    border-radius: 5px;
}
.collage {
    box-shadow: 0 0 25px 5px rgba(0,0,0,0.73);
    background-image: radial-gradient(circle, #5f8d8c, #548189, #4e7585, #4c697e, #4c5c74);
}
.card-border {
    border: 15px solid rgba(255, 255, 255, 0);
    background-clip: padding-box;
    background-color: #6BB09F;
}
.card-body {
    box-shadow: 0 0 9px 2px rgba(0,0,0,0.85);
}
.site-footer {
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: white;
    position: absolute; bottom: 0; width: 100%;
}
.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}
.site-footer hr.small {
    margin: 20px 0;
}
.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}
.site-footer a {
    color: #737373;
}
.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: white;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links.inline li {
    display: inline-block;
}
.site-footer .social-icons {
    text-align: right;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}
.copyright-text {
    margin: 0;
    color: white;

}
@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px;
    }
}
@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}
.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.social-icons a.facebook:hover {
    background-color: #3b5998;
}
.social-icons a.twitter:hover {
    background-color: #00aced;
}
.social-icons a.linkedin:hover {
    background-color: #007bb6;
}
.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}
@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}

.img-center {
    display: block;
  margin-left: auto;
  margin-right: auto;
}